body{
	margin:0px; padding:0px;
	background:#cccccc url("../images/common/body-bg.jpg") repeat-y center;
}

* { font-family: tahoma, arial, helvetica, sans-serif; }

form input {
	font: 12px tahoma, arial, helvetica, sans-serif;
	height:20px;
}

/* popup */
#common-popup {
	width:677px; height:522px; position:relative;
	background:transparent url('../images/common/popup.png') no-repeat;
	padding:20px;
}
#common-popup #content { width:607px; height:303px; position:absolute; top:71px; left: 35px; overflow-y: auto; }
#common-popup #lbl-dont-show-popup { position:absolute; top:402px; left:62px; display:block; width:71px; height:14px; text-indent:-9000px; }
#common-popup #chk-dont-show-popup { position:absolute; top:399px; left:39px; }
#common-popup a.close {
	position:absolute; top:398px; left:548px; text-indent:-9000px;
	display:block; width:85px; height:30px; background:transparent url("../images/common/popup-close.gif") no-repeat;
}
#common-popup a.close:hover { background-position:0px -30px; }
#common-popup-mask {
	 width:100%; height:100%;
	position:absolute;
	z-index:9000;
	background-color:#FFFFFF;
	opacity: .5; filter: alpha(opacity = 50);
}
/* Z-index of #mask must lower than #boxes .window */
#mask {
	position:absolute; top:0px; left:0px;
	z-index:9000;
	background-color:#000;
	display:none;
}

#boxes .window {
	position:fixed;
	display:none;
	z-index:9999;
	padding:20px;
}
/* end popup */

/* common/global */

#container {
	margin:0 auto;
	width:1000px;
	background:transparent url('../images/common/bg.jpg') no-repeat;
	position:relative;
}
.page-login input, .page-login select,
.page-register input, .page-register select,
.page-transfer input, .page-transfer select,
.page-booking-check input, .page-booking-check select
{ border:0px; -webkit-box-shadow: none !important; box-shadow: none !important; background:transparent; }
/* end common/global */

/* home */
.page-home { height:750px; }

.page-home #content {
	width:1000px; height:540px; background:transparent url('../images/home/bg.jpg') no-repeat;
	position:absolute; top:164px;
}
.page-home #content #box {
	width:377px; height:314px; background:transparent url('../images/home/box.gif') no-repeat;
	position:absolute; top:19px; left:571px;
}
.page-home #content .b-presale,
.page-home #content .b-early {
	display:block; width:482px; height:52px; background: transparent url('../images/home/buttons.gif') no-repeat;
	position:absolute; top:456px; left:259px;
}
.page-home #content .b-early:hover { background-position: 0px -52px; }
.page-home #content .b-presale { background-position: 0px -104px; }
.page-home #content .b-presale:hover { background-position: 0px -156px; }
/* end home */

/* index */
.page-index { height:750px; }
.page-index #content {
	position:absolute; top:140px;
	width:1000px; height:610px; background:transparent url('../images/index/bg-early.jpg') no-repeat;
}
/* end index */

/* index-comingsoon */
.page-index-coming-soon { height:750px; }
.page-index-coming-soon #content {
	width:1000px; height:750px; background:transparent url('../images/index/bg-coming-soon.jpg') no-repeat;
}
.page-index-coming-soon #content ul#coming-soon-menu { margin:0px; padding:0px; list-style:none; width:148px; position:absolute; bottom:18px; left:32px; }
.page-index-coming-soon #content a { display:block; height:36px; float:left; }
.page-index-coming-soon #content a.b-boost { width:101px; }
.page-index-coming-soon #content a.b-facebook { width:36px; margin-left:11px; }
/* end index-comingsoon */

/* login */
.page-login { height:750px; }

.page-login #sub-menu { width:146px; position:absolute; top:103px; left:224px; margin:0px; padding:0px; list-style:none; }
.page-login #sub-menu li { display:block; float:left; }
.page-login #sub-menu li a { display:block; text-indent:-3000px; height:24px; }
.page-login #sub-menu li a.sub-menu-1 { width:52px; }
.page-login #sub-menu li a.sub-menu-2 { width:94px; }

.page-login #dialog {
	width:439px; height:267px; background:transparent url("../images/login/dialog.gif") no-repeat 0px 0px;
	position:absolute; top:228px; left:302px;
}
.page-login #dialog .username { position:absolute; top:35px; left:149px; width:225px; background:transparent; }
.page-login #dialog .password { position:absolute; top:76px; left:149px; width:225px; background:transparent; }
.page-login #dialog .submit {
	position:absolute; top:145px; left:178px; width:86px; height:32px; text-indent:-2000px;
	background:transparent url("../images/login/b-submit.gif") no-repeat 0px 0px; cursor:pointer;
}
.page-login #dialog .submit:hover { background-position:0px -32px; }
/* end login */

/* register */

.page-register { height:750px; }

.page-register #form {
	position:absolute; top:77px; left:265px;
	width:477px; height:601px; background:transparent url("../images/register/form.gif") no-repeat;
}
.page-register #form .username { position:absolute; top:59px; left:140px; width:224px; }
.page-register #form .password { position:absolute; top:92px; left:140px; width:224px; }
.page-register #form .password-confirm { position:absolute; top:120px; left:140px; width:224px; }
.page-register #form .code { position:absolute; top:214px; left:140px; width:224px; }
.page-register #form .thName { position:absolute; top:247px; left:140px; width:224px; }
.page-register #form .enName { position:absolute; top:289px; left:140px; width:224px; }
.page-register #form .nickName { position:absolute; top:332px; left:140px; width:124px; }

.page-register #form .sexy-combo-question { position:absolute; top:147px; left:141px; }
.page-register #form .sexy-combo-question input { width:203px; padding-left:3px; }
.page-register #form .sexy-combo-question .icon { left:204px; }
.page-register #form .sexy-combo-question div.list-wrapper { width:222px; }

.page-register #form .sexy-combo-sex { position:absolute; top:331px; left:310px; }
.page-register #form .sexy-combo-sex input { width:47px; padding-left:3px; }
.page-register #form .sexy-combo-sex .icon { left:32px; }
.page-register #form .sexy-combo-sex div.list-wrapper { width:50px; }

.page-register #form .sexy-combo-birth_date { position:absolute; top:362px; left:142px; width:51px; }
.page-register #form .sexy-combo-birth_date input { width:45px; padding-left:5px; }
.page-register #form .sexy-combo-birth_date .icon { left:31px; }
.page-register #form .sexy-combo-birth_date div.list-wrapper { width:50px; }

.page-register #form .sexy-combo-birth_month { position:absolute; top:362px; left:207px; width:99px; }
.page-register #form .sexy-combo-birth_month input { width:76px; padding-left:5px; }
.page-register #form .sexy-combo-birth_month .icon { left:82px; }
.page-register #form .sexy-combo-birth_month div.list-wrapper { width:99px; }

.page-register #form .sexy-combo-birth_year { position:absolute; top:362px; left:324px; width:99px; }
.page-register #form .sexy-combo-birth_year input { width:51px; padding-left:5px; }
.page-register #form .sexy-combo-birth_year .icon { left:57px; }
.page-register #form .sexy-combo-birth_year div.list-wrapper { width:75px; }

.page-register #form .address { position:absolute; top:410px; left:140px; width:224px; }
.page-register #form .tel { position:absolute; top:442px; left:140px; width:224px; }
.page-register #form .email { position:absolute; top:474px; left:140px; width:224px; }
.page-register #form .job { position:absolute; top:505px; left:140px; width:224px; }
.page-register #form .job_area { position:absolute; top:537px; left:140px; width:224px; }
.page-register #form .favorite_artist { position:absolute; top:581px; left:140px; width:224px; }

.page-register #form #form-button {
	position:absolute; top:616px; left:82px; width:285px; height:57px;
	background:transparent url("../images/register/button-form.gif") no-repeat 0px 0px;
	margin:0px; padding:0px; list-style:none;
}
.page-register #form #form-button li,
.page-register #form #form-button li a,
.page-register #form #form-button li .submit { float:left; height:41px; text-indent:-2000px; }

.page-register #form #form-button li .submit {
	position:absolute; top:0px; left:0px; width:132px;
	background:transparent url("../images/register/button-form.gif") no-repeat 0px 0px; cursor:pointer;
}
.page-register #form #form-button .submit:hover { background-position:0px -57px; }

.page-register #form #form-button li a {
	position:absolute; top:0px; left:155px; width:130px;
	background:transparent url("../images/register/button-form.gif") no-repeat -155px 0px; cursor:pointer;
}
.page-register #form #form-button li a:hover { background-position:-155px -57px; }
/* end register */

/* zone */
.page-zone { height:750px; }

.page-zone #content {
	position:absolute; top:117px; left:73px;
	width:887px; height:578px; background:transparent url("../images/zone/bg.gif") no-repeat;
}
.page-zone #content form .submit {
	position:absolute; top:512px; left:160px; border:0px; text-indent:-2000px; cursor:pointer;
	width:172px; height:58px; background:transparent url("../images/zone/button.gif") no-repeat;
}
.page-zone #content form .submit:hover { background-position:0px -108px; }
/* end zone */

/* seat */
.page-seat { height:750px; }

.page-seat #content {
	position:absolute; top:148px; left:206px;
	width:684px; height:602px; background:transparent url("../images/seat/bg.gif") no-repeat;
}
.page-seat #content form .submit {
	position:absolute; top:448px; left:468px; border:0px; text-indent:-2000px; cursor:pointer;
	width:216px; height:50px; background:transparent url("../images/seat/button-continue.gif") no-repeat;
}
.page-seat #content form .submit:hover { background-position:0px -50px; }
/* end seat */

/* booking */
.page-booking { font-size:14px; }
.page-booking #content .header {
	width:100%; height:236px;
	background:transparent url("../images/booking/header.jpg") no-repeat 155px 133px;
}
.page-booking #content .header span { color:white; font-weight:bolder; font-size:18px; }
.page-booking #content .header span.name { position:absolute; top:144px; left:212px; }
.page-booking #content .header span.code { position:absolute; top:183px; left:332px; }
.page-booking #content .header span.booking-code { position:absolute; top:183px; left:648px; width:178px; text-align:center; color:black; }
.page-booking .list { width: 696px; margin-left:155px; }
.page-booking .list td { padding:0px; }
.page-booking .list .thead td { height:42px; padding:0px; border:0px; background:transparent url("../images/booking/table_header.gif") no-repeat; text-indent:-3000px; }
.page-booking .list .thead td.no { background-position:-24px 0px; }
.page-booking .list .thead td.zone { background-position:-117px 0px; }
.page-booking .list .thead td.seat-no { background-position:-216px 0px; }
.page-booking .list .thead td.seat-count { background-position:-354px 0px; }
.page-booking .list .thead td.item-price { background-position:-465px 0px; }
.page-booking .list .thead td.price { background-position:-578px 0px; }
.page-booking .list .thead td.bg-right { background-position:-675px 0px; }

.page-booking .list .tbody td { background-color:#FFFFFF; padding:3px 0px 3px 0px; }
.page-booking .list .tbody td { border-bottom:1px solid #000000; }
.page-booking .list .tbody td.bg-left { border:0px; width:24px; background:#000000 url("../images/booking/table_border_left.gif") repeat-y; }
.page-booking .list .tbody td.no,
.page-booking .list .tbody td.zone,
.page-booking .list .tbody td.seat-no,
.page-booking .list .tbody td.seat-count,
.page-booking .list .tbody td.item-price { text-align:center; border-right:1px solid #000000; }
.page-booking .list .tbody td.seat-no { padding-left:5px; padding-right:5px; text-align:left; }
.page-booking .list .tbody td.item-price,
.page-booking .list .tbody td.price { text-align:right; padding-right:5px; }
.page-booking .list .tbody td.bg-right { border:0px; width:21px; background:#000000 url("../images/booking/table_border_right.gif") repeat-y; }
.page-booking .list .last td { border-bottom:0px; }
.page-booking .list .tfoot td { height:23px; background:transparent url("../images/booking/table_footer.png") no-repeat; text-indent:-3000px; }

.page-booking .list .tfoot-text td { height:222px; background:transparent url("../images/booking/booking-footer-text.png") no-repeat; text-indent:-3000px; }

.page-booking #content form ul {
	width:331px; height:108px; margin:0px; padding:0px; list-style:none;
	background:transparent url("../images/booking/button.png") no-repeat;
}
.page-booking #content form ul li { float:left; }
.page-booking #content form ul li input.submit {
	width:152px; height:54px; border:0px; cursor:pointer;
	background:transparent url("../images/booking/button.png") no-repeat 0px 0px;
}
.page-booking #content form ul li input.submit:hover { background-position:0px -108px; }
.page-booking #content form ul li .cancel {
	display:block; width:152px; height:54px; border:0px;
	background:transparent url("../images/booking/button.png") no-repeat -179px 0px; margin-left:27px; text-indent:-3000px;
}
.page-booking #content form ul li .cancel:hover { background-position:-179px -108px; }
/* end booking */

/* booking-complete */
.page-booking-complete { font-size:14px; }
.page-booking-complete #content .header {
	width:100%; height:236px;
	background:transparent url("../images/booking/header.jpg") no-repeat 155px 133px;
}
.page-booking-complete .header span { color:white; font-weight:bolder; font-size:18px; }
.page-booking-complete .header span.name { position:absolute; top:144px; left:212px; }
.page-booking-complete .header span.code { position:absolute; top:183px; left:332px; }
.page-booking-complete .header span.booking-code { position:absolute; top:183px; left:648px; width:178px; text-align:center; color:black; }
.page-booking-complete .list { width: 681px; margin-left:152px; }
.page-booking-complete .list td { padding:0px; }
.page-booking-complete .list .thead td { height:33px; background:transparent url("../images/booking-complete/table_header.png") no-repeat; text-indent:-3000px; }
.page-booking-complete .list .thead td.no { background-position:-18px 0px; }
.page-booking-complete .list .thead td.zone { background-position:-89px 0px; }
.page-booking-complete .list .thead td.seat-no { background-position:-174px 0px; }
.page-booking-complete .list .thead td.seat-count { background-position:-284px 0px; }
.page-booking-complete .list .thead td.item-price { background-position:-362px 0px; }
.page-booking-complete .list .thead td.price { background-position:-456px 0px; }
.page-booking-complete .list .thead td.status { background-position:-541px 0px; }
.page-booking-complete .list .thead td.bg-right { background-position:-665px 0px; }

.page-booking-complete .list .tbody td { background-color:#FFFFFF; padding:3px 0px 3px 0px; }
.page-booking-complete .list .tbody td { border-bottom:1px solid #000000; }
.page-booking-complete .list .tbody td.bg-left { border:0px; width:18px; background:#000000 url("../images/booking/table_border_left.gif") repeat-y; }
.page-booking-complete .list .tbody td.no,
.page-booking-complete .list .tbody td.zone,
.page-booking-complete .list .tbody td.seat-no,
.page-booking-complete .list .tbody td.seat-count,
.page-booking-complete .list .tbody td.item-price,
.page-booking-complete .list .tbody td.price { text-align:center; border-right:1px solid #000000; }
.page-booking-complete .list .tbody td.seat-no { padding-left:5px; padding-right:5px; text-align:left; }
.page-booking-complete .list .tbody td.item-price,
.page-booking-complete .list .tbody td.price { text-align:right; padding-right:5px; }
.page-booking-complete .list .tbody td.bg-right { border:0px; width:16px; background:#000000 url("../images/booking/table_border_right.gif") repeat-y -5px 0px; }

.page-booking-complete .list .tfoot td { height:17px; background:transparent url("../images/booking-complete/table_footer.png") no-repeat; text-indent:-3000px; }
.page-booking-complete .list .tfoot-text td { height:293px; background:transparent url("../images/booking-complete/footer_text.png") no-repeat; text-indent:-3000px; }

.page-booking-complete #content form ul {
	width:331px; height:107px; margin:0px; padding:0px; list-style:none;
	background:transparent url("../images/booking-complete/buttons.png") no-repeat;
}
.page-booking-complete #content form ul li { float:left; }
.page-booking-complete #content form ul li input.submit {
	width:152px; height:55px; border:0px; cursor:pointer;
	background:transparent url("../images/booking-complete/buttons.png") no-repeat 0px 0px; margin:0px;
}
.page-booking-complete #content form ul li input.submit:hover { background-position:0px -107px; }
.page-booking-complete #content form ul li .cancel {
	display:block; width:152px; height:55px; border:0px;
	background:transparent url("../images/booking-complete/buttons.png") no-repeat -179px 0px; margin-left:27px; text-indent:-3000px;
}
.page-booking-complete #content form ul li .cancel:hover { background-position:-179px -107px; }
/* end booking-complete */

/* transfer */
.page-transfer { height: 750px; }
.page-transfer #form {
	position:absolute; top:146px; left:189px;
	width: 639px; height: 435px;
	background:transparent url("../images/transfer/bg.gif") no-repeat;
}
.page-transfer input,
.page-transfer select { border:0px; -webkit-box-shadow: none !important; box-shadow: none !important; background:transparent; }
.page-transfer #form .code { position:absolute; top:74px; left:217px; width:221px; }

.page-transfer #form .sexy-combo-transfer_date { position:absolute; top:112px; left:214px; width:51px; }
.page-transfer #form .sexy-combo-transfer_date input { width:45px; padding-left:5px; }
.page-transfer #form .sexy-combo-transfer_date .icon { left:31px; }
.page-transfer #form .sexy-combo-transfer_date div.list-wrapper { width:50px; }

.page-transfer #form .sexy-combo-transfer_month { position:absolute; top:112px; left:279px; width:99px; }
.page-transfer #form .sexy-combo-transfer_month input { width:76px; padding-left:5px; }
.page-transfer #form .sexy-combo-transfer_month .icon { left:82px; }
.page-transfer #form .sexy-combo-transfer_month div.list-wrapper { width:99px; }

.page-transfer #form .sexy-combo-transfer_year { position:absolute; top:112px; left:395px; width:76px; }
.page-transfer #form .sexy-combo-transfer_year input { width:51px; padding-left:5px; }
.page-transfer #form .sexy-combo-transfer_year .icon { left:57px; }
.page-transfer #form .sexy-combo-transfer_year div.list-wrapper { width:75px; }

.page-transfer #form .sexy-combo-bank_name { position:absolute; top:231px; left:215px; width:163px; }
.page-transfer #form .sexy-combo-bank_name input { width:138px; padding-left:5px; }
.page-transfer #form .sexy-combo-bank_name .icon { left:143px; }
.page-transfer #form .sexy-combo-bank_name div.list-wrapper { width:240px; }

.page-transfer #form .time { position:absolute; top:152px; left:217px; width:221px; }
.page-transfer #form .pay_money { position:absolute; top:190px; left:217px; width:221px; }

.page-transfer #form-button { position:absolute; top:372px; left:238px; margin:0px; padding:0px; list-style:none; }
.page-transfer #form-button #submit { background:transparent url("../images/transfer/buttons.gif") no-repeat; width:155px; height:40px; cursor:pointer; }
.page-transfer #form-button #submit:hover { background-position:0px -63px; }
/* end transfer */

/* booking-check */
.page-booking-check { height: 750px; }
.page-booking-check #dialog {
	position:absolute; top:198px; left:243px;
	width:514px; height:312px; background:transparent url("../images/booking-check/bg.gif") no-repeat;
}
.page-booking-check form .code { position:absolute; top:74px; left:156px; width:243px; }
.page-booking-check form .submit {
	position:absolute; top:143px; left:166px; width:195px; height:43px;
	background:transparent url("../images/booking-check/button.gif") no-repeat 0px 0px; cursor:pointer;
}
.page-booking-check form .submit:hover { background-position:0px -43px; }
/* end booking-check */